{% extends 'index.html' %}
{% block title %}
Форма для отправки данных
{% endblock %}
{% block body %}
    <form action="{{ url_for('formcolledg')}}" method="post">
                <label for="title" class="form-label">Заголовок</label>
                <input name="title" type="text" class="form-control" id="title">
</br>
                <label for="full_name" class="form-label">Полное наименование</label>
                <input name="full_name" type="text" class="form-control" id="full_name">
</br>
                <label for="addres" class="form-label">Адрес</label>
                <input name="addres" class="form-control" id="addres">
</br>
                <label for="tel" class="form-label">Телефон</label>
                <input name="tel" type="text" class="form-control" id="tel">
</br>
                <label for="email" class="form-label">Email address</label>
                <input name="userEmail" type="email" class="form-control" id="email">
</br>
                <label for="link_to_pict" class="form-label">Ссылка на картинку</label>
                <input name="link_to_pict" type="text" class="form-control" id="link_to_pict">

                </br>
                </br>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
{% endblock %}