{% extends 'index.html' %}
{% block title %}
Заказы
{% endblock %}
{% block body %}
<main id="main">
    </section><!-- End Hero -->

    <main id="main">

      <!-- ======= About Section ======= -->
      <section id="appk" class="about">
        <div class="container">

          <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="150">
              <img src="https://навигатор.владпрофобр.рф/assets/img/colledg/appk.png" class="img-fluid" alt="" width="70%" height="70%">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
              <h3>Александровский промышленно-правовой колледж</h3>
              <p class="fst-italic">
                Государственное бюджетное профессиональное образовательное учреждение Владимирской области "Александровский промышленно-правовой колледж"
              </p>
              <ul>
                <li><i class="bi bi-check-circle"></i> "601655, Россия, Владимирская область, г. Александров, ул. Терешковой, д.5 "</li>
                <li><i class="bi bi-check-circle"></i> <a href="tel:+74924424566">8(49244)2-45-66</a> </li>
                <li><i class="bi bi-check-circle"></i> <a href="mailto:alex-apgk@yandex.ru">alex-apgk@yandex.ru</a></li>
              </ul>

            </div>
          </div>

        </div>
      </section><!-- End About Section -->

  </main><!-- End #main -->

{% endblock %}